body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29,46,100,1) 32%, rgba(62,77,151,1) 100%);
    background-repeat: no-repeat;
}

nav , .footer2{
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
}

nav h1, .footer2 h1{
    flex: 3;
    font-size: 35px;
    margin-left:60px ;
}
nav h1 a{
    text-decoration: none;
    color: #D5AEEA;
}

ul  , .footer2 ul{
    display: flex;
    flex: 6;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;

}
ul li a  , .footer2 ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
ul li a:hover , .footer2 ul li a:hover{
    color: #D5AEEA;
}
.container{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.container h1{
    display: flex;
    color: #ffffff;
    font-size: 80px;
}

.container img{
    height: 300px;
    width: 400px;
    position: relative;
    border-radius: 20px;
}

.container h2 , .container h4{
    display: flex;
    color: #e6d2f1;
}

.container a , span{
    text-decoration: none;
    color: #ffffff;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer h1{
    color: #D5AEEA;
}